@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap");

:root {
  /* color variables */

  --main-background-color: hsl(233, 36%, 9%);
  --section-background-color: hsl(233, 36%, 18%);
  --main-txt-color: hsl(214, 64%, 82%);
  --secondary-light-color: hsl(184, 75%, 65%);
  --secondary-dark-color: hsl(220, 94%, 47%);
  --highlight-color: hsl(267, 49%, 45%);
  --highlight-color-link: hsl(237, 100%, 70%);
  --highlight-color-link-hover: hsl(237, 100%, 80%);

  --alpha-highlight-color: 267 49% 45%;
  --alpha-shadow-color: 237 100% 70%;

  --glass-effect__color-dark: hsla(0, 0%, 0%, 0.9);

  /* Light theme */

  --light-theme__main-background-color: hsl(214, 64%, 82%);
  --light-theme__section-background-color: hsl(214, 64%, 87%);
  --light-theme__main-txt-color: hsl(233, 36%, 9%);
  --light-theme__secondary-light-color: hsl(184, 75%, 25%);
  --light-theme__secondary-dark-color: hsl(220, 94%, 7%);
  --light-theme__highlight-color: hsl(267, 49%, 65%);
  --light-theme__highlight-color-link: hsl(237, 100%, 10%);
  --light-theme__highlight-color-link-hover: hsl(237, 100%, 40%);

  /*  Font  */

  --ff-primary: "Montserrat", sans-serif;
  --ff-handlee: "Handlee", cursive;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /*  Font size  */

  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-700: 1.875rem;
  --fs-800: 2rem;
  --fs-900: 3rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-intro: var(--fs-400);
  --fs-btn: var(--fs-300);

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 2.5rem;
  --size-800: 3rem;
  --size-900: 3.5rem;

  font-family: var(--ff-primary);
  font-size: var(--fs-600);
  line-height: 1.5;
  font-weight: var(--fw-400);

  color-scheme: light dark;
  color: var(--main-txt-color);
  background-color: var(--main-background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /*  animation timer */

  --loading-timer: 3s;
}

@media screen and (min-width: 32em) {
  :root {
    --fs-body: var(--fs-500);
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);
    --fs-intro: var(--size-500);
  }
}

/*  Global  */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul,
ol {
  list-style: none;
  text-indent: 0;
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

img,
picture,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  font-weight: var(--fw-500);
  color: var(--highlight-color-link);
  text-decoration: inherit;
}

a:hover {
  color: var(--highlight-color-link-hover);
}

strong {
  font-weight: var(--fw-600);
}

body {
  justify-content: space-between;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  color: var(--main-txt-color);
  align-items: center;
}
/*  Scrollbar */

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: hsl(var(--alpha-highlight-color) / 0.3);
}

body::-webkit-scrollbar-thumb {
  background: hsl(var(--alpha-highlight-color) / 0.4);
}

body::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--alpha-highlight-color) / 0.6);
}

/* Remove animations...... User prefered */

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto;
  }
}

/* Utility classes */

.ff-handlee {
  font-family: var(--ff-handlee);
}

.center-text {
  text-align: center;
}

.section-background__color {
  background-color: var(--section-background-color);
}

.fw-400 {
  font-weight: var(--fw-400);
}

.fw-500 {
  font-weight: var(--fw-500);
}

.fw-600 {
  font-weight: var(--fw-600);
}

.fw-700 {
  font-weight: var(--fw-700);
}

.fw-500__italic {
  font-weight: var(--fw-500);
  font-style: italic;
}

.fw-600__italic {
  font-weight: var(--fw-600);
  font-style: italic;
}

.fs-primary__heading {
  font-size: var(--fs-primary-heading);
  line-height: 1.1;
}

.fs-secondary__heading {
  font-size: var(--fs-secondary-heading);
  line-height: 1.1;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.flex {
  display: flex;
  gap: var(--gap-space, 1rem);
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: var(--gap-space, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap-space, 1rem);
}

.uppercase {
  text-transform: uppercase;
}

.screen-reader {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.logo {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  padding: 1.5em;
  will-change: filter;
  transition: filter, scale 0.2s ease-in-out;
}

.logo:hover {
  filter: drop-shadow(0 0 1em hsla(var(--alpha-shadow-color) / 0.5));
  scale: 1.1;
}
/* text animation  */

.text-animation__container {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  margin-top: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-color: hsl(var(--alpha-highlight-color) / 0.1);
  backdrop-filter: blur(1rem);
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.text-animation__container[data-visible="false"] {
  display: none;
}

.animation-text {
  position: relative;
  color: hsl(var(--alpha-highlight-color) / 0);
  align-self: center;
  justify-self: center;
  overflow: hidden;
}

.animation-text::before {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  color: var(--main-txt-color);
  animation: animate var(--loading-timer) linear;
}

@keyframes animate {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.homepage-main {
  max-width: 95%;
}

canvas {
  position: fixed;
  height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -100;
}

/* Image container animation */

.image-animation__container {
  position: relative;
  width: 90%;
  min-height: 25vh;
  align-self: center;
  justify-self: center;
  box-shadow: hsl(var(--alpha-highlight-color) / 0.2) 0 4em 9em -1.5em,
    hsl(var(--alpha-shadow-color) / 0.5) 0 2em 4em -2em;
  border-radius: 3rem;
  transform: perspective(75em) rotateX(18deg);
  border: 1px solid;
  border-color: hsl(var(--alpha-highlight-color) / 0.1)
    hsl(var(--alpha-highlight-color) / 0.2)
    hsl(var(--alpha-highlight-color) / 0.3)
    hsl(var(--alpha-highlight-color) / 0.4);
  transition: all 0.5s ease-in-out;
}

.image-animation__container:hover {
  transform: perspective(75em) rotateX(0deg);
}

.image-animation__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsl(var(--alpha-highlight-color) / 0.2);
  z-index: 10;
  border-radius: 3rem;
}

.image-animation__text {
  position: relative;
  width: 100%;
  color: hsl(var(--alpha-highlight-color) / 0);
  align-self: center;
  overflow: hidden;
}

.image-animation__text::before {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  animation: animate-hello 4s linear forwards;
  animation-delay: var(--loading-timer);
}

@keyframes animate-hello {
  0% {
    width: 0;
    color: var(--main-txt-color);
  }

  100% {
    width: 100%;
    color: hsl(var(--alpha-highlight-color) / 0);
  }
}

.image-animation__container div {
  position: absolute;
  inset: 0;
  background: url(./assets/images/calin.codes-profile-image-mobile.jpg);
  background-size: cover;
  background-position: center;
}

.image-animation__container div:nth-child(1) {
  clip-path: polygon(0 0, 50% 0, 50% 50%, 0 50%);
  transform: translate(-30%, -90%) rotate(-150deg) scale(0);
  overflow: hidden;
  animation: animate-image 4s ease-in-out forwards;
  animation-delay: var(--loading-timer);
  border-radius: 3rem;
}

.image-animation__container div:nth-child(2) {
  clip-path: polygon(50% 0, 100% 0, 100% 50%, 50% 50%);
  transform: translate(-10%, -90%) rotate(150deg) scale(0);
  overflow: hidden;
  animation: animate-image 3s ease-in-out forwards;
  animation-delay: calc(var(--loading-timer) + 2s);
  border-radius: 3rem;
}

.image-animation__container div:nth-child(3) {
  clip-path: polygon(0 50%, 50% 50%, 50% 100%, 0 100%);
  transform: translate(10%, -90%) rotate(150deg) scale(0);
  overflow: hidden;
  animation: animate-image 2s ease-in-out forwards;
  animation-delay: calc(var(--loading-timer) + 3.5s);
  border-radius: 3rem;
}

.image-animation__container div:nth-child(4) {
  clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
  transform: translate(30%, -90%) rotate(-125deg) scale(0);
  overflow: hidden;
  animation: animate-image 1.5s ease-in-out forwards;
  animation-delay: calc(var(--loading-timer) + 5s);
  border-radius: 3rem;
}

@keyframes animate-image {
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

/* -------------------------------------------------- */

.introduction {
  --flow-space: 1rem;
  padding: 1rem;
}

@media screen and (min-width: 32em) {
  .introduction {
    padding: 2rem;
  }
}

.introduction > p {
  text-align: justify;
  text-align: center;
}

.introduction q {
  font-size: var(--fs-500);
  font-style: italic;
  text-align: center;
  display: block;
  margin: 2rem 0;
}

.intro-text {
  max-width: 40em;
  text-align: center;
}

.responsive-text {
  font-size: var(--fs-500);
  text-decoration: underline;
  text-decoration-color: hsl(var(--alpha-highlight-color) / 0.5);
}

.intro-role {
  position: relative;
  text-shadow: var(--highlight-color) 0 0 0.5em;
  letter-spacing: 2px;
  padding: 0.5rem;
  font-size: clamp(1rem, 5vw, 2.5rem);
  padding-bottom: 2em;
  transform: perspective(75em) rotateX(18deg);
}

.intro-role::before {
  content: "<h3>:hover";
  position: absolute;
  text-transform: lowercase;
  font-size: var(--size-300);
  font-family: var(--ff-handlee);
  top: calc(-5% - 0.5rem);
  left: calc(5% - 0.5rem);
  color: hsl(var(--alpha-shadow-color) / 0.5);
  z-index: -10;
}

.intro-role::after {
  content: "</h3>";
  position: absolute;
  text-transform: lowercase;
  font-size: var(--size-300);
  font-family: var(--ff-handlee);
  bottom: calc(-5% - 0.5rem);
  right: calc(5% + 0.5rem);
  color: hsl(var(--alpha-shadow-color) / 0.5);
  z-index: -10;
}

.letter {
  position: absolute;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.letter:nth-child(2) {
  left: calc(100% / 2 - 7.8ch);
}

.letter:nth-child(3) {
  left: calc(100% / 2 - 6ch);
}

.letter:nth-child(4) {
  left: calc(100% / 2 - 4.8ch);
}

.letter:nth-child(5) {
  left: calc(100% / 2 - 2.4ch);
}

.letter:nth-child(6) {
  left: calc(100% / 2 - 1.2ch);
}

.letter:nth-child(7) {
  left: calc(100% / 2);
}

.letter:nth-child(8) {
  left: calc(100% / 2 + 1.2ch);
}

.letter:nth-child(9) {
  left: calc(100% / 2 + 2.4ch);
}

.letter:nth-child(10) {
  left: calc(100% / 2 + 3.5ch);
}

.letter:nth-child(11) {
  left: calc(100% / 2 + 4.8ch);
}

.letter:nth-child(12) {
  left: calc(100% / 2 + 6ch);
}

.letter:nth-child(13) {
  left: calc(100% / 2 + 7.2ch);
}

.letter:hover {
  color: var(--secondary-light-color);
  animation: bounce 0.5s ease-in-out;
}

@keyframes bounce {
  0% {
    transform: scale(0.8, 1.3);
  }

  50% {
    transform: scale(1.2, 0.7);
  }

  100% {
    transform: scale(0.7, 1.2);
  }
}

.intro-name {
  position: relative;
  text-transform: uppercase;
  text-decoration: double underline;
  color: var(--main-background-color);
  text-shadow: var(--highlight-color) 0 0 0.5em;
  letter-spacing: 0.1em;
}

.intro-name::before {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  animation: animate-name 3s linear forwards;
  animation-delay: 7s;
}

@keyframes animate-name {
  0% {
    width: 0;
    color: var(--main-txt-color);
  }

  100% {
    width: 100%;
    color: var(--main-txt-color);
  }
}

button {
  position: relative;
  width: 50%;
  align-self: center;
  border-radius: 2vmin;
  border: 1px solid var(--highlight-color);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: var(--fw-600);
  font-family: inherit;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  transition: background-color 0.25s;
}

button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  border-radius: inherit;
  background-color: var(--secondary-light-color);
  transition: all 0.35s ease-in-out;
  z-index: -1;
}

button:hover::after {
  width: 100%;
  height: 100%;
  border-color: hsl(var(--alpha-highlight-color) / 0.1);
}

button:hover {
  color: var(--main-background-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-background-color: var(--light-theme__main-background-color);
    --section-background-color: var(--light-theme__section-background-color);
    --main-txt-color: var(--light-theme__main-txt-color);
    --secondary-light-color: var(--light-theme__secondary-light-color);
    --secondary-dark-color: var(--light-theme__secondary-dark-color);
    --highlight-color: var(--light-theme__highlight-color);
    --highlight-color-link: var(--light-theme__highlight-color-link);
    --highlight-color-link-hover: var(
      --light-theme__highlight-color-link-hover
    );
  }

  .logo {
    content: url(./assets/images/calin.codes-logo-light.jpg);
  }
}

.primary-header {
  width: 100%;
  min-height: 5rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1rem 1rem hsl(var(--alpha-highlight-color) / 0.2);
}

.primary-navigation.underlined-indicators > * {
  border: 0;
}

.underlined-indicators > *:not(:last-child) {
  padding: var(--underlined-gap, 1rem) 0;
  border: 0;
  border-bottom: 0.15rem solid hsl(var(--alpha-highlight-color) / 0);
}

.underlined-indicators > :hover,
.underlined-indicators > :focus {
  border-color: hsl(var(--alpha-highlight-color) / 0.5);
}

.underlined-indicators > .active,
.underlined-indicators > [aria-selected="true"] {
  border-color: hsl(var(--alpha-highlight-color) / 1);
}

@media screen and (max-width: 32em) {
  a {
    color: var(--highlight-color-link-hover);
  }

  /* Mobile menu */

  .primary-navigation {
    width: 0;
    height: 0;
    overflow: hidden;
    transform: translateX(100%);
    will-change: transform, background-color, height, width;
    transition: transform 1s;
  }

  .hamburger-menu__btn {
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    z-index: 100;
    top: calc(3vh - 1em);
    right: calc(3vw - 0.2em);
    border-radius: 2vmin;
  }

  .mobile-nav__toggle {
    width: calc(8vw - 0.2rem);
    height: 0.225rem;
    background-color: var(--main-txt-color);
    transition: all 0.4s ease-in-out;
    border-radius: 1vmin;
  }

  .mobile-nav__toggle::before,
  .mobile-nav__toggle::after {
    content: "";
    position: absolute;
    width: calc(8vw - 0.2rem);
    height: 0.225rem;
    background-color: var(--main-txt-color);
    transition: all 0.4s ease-in-out;
    border-radius: 1vmin;
  }

  .mobile-nav__toggle::before {
    transform: translateY(-0.5rem);
  }

  .mobile-nav__toggle::after {
    transform: translateY(0.5rem);
  }

  /* Mobile menu animation */

  .hamburger-menu__btn.open .mobile-nav__toggle {
    background-color: transparent;
  }

  .hamburger-menu__btn.open .mobile-nav__toggle::before {
    transform: rotate(45deg);
    background-color: var(--highlight-color-link-hover);
  }

  .hamburger-menu__btn.open .mobile-nav__toggle::after {
    transform: rotate(-45deg);
    background-color: var(--highlight-color-link-hover);
  }

  .primary-navigation.open {
    width: 70%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    --underlined-gap: 0.2rem;
    min-height: 30em;
    inset: 0 0 0 30%;
    position: fixed;
    margin: 0;
    padding: min(7.375rem, 15vh) 2rem;
    z-index: 99;
    background-color: var(--section-background-color);
    box-shadow: 0.4rem 0 1em var(--highlight-color);
    transform: translateX(0);
    --gap-space: 2rem;
  }

  .introduction-heading {
    font-size: clamp(1.5rem, 5vw + 1rem, 3.5rem);
  }

  .social-media__container img {
    width: 1.7rem;
    height: 1.7rem;
    background-color: hsl(var(--alpha-highlight-color) / 0.6);
    flex-wrap: wrap;
    padding: 0.2rem;
  }

  .footer-navigation {
    flex-wrap: wrap;
    justify-content: center;
    font-size: clamp(0.725rem, 2vw + 0.2rem, 1.5rem);
  }

  .primary-footer::before {
    content: "<script  src='main.js' type='module'></script>";
    position: absolute;
    width: 100%;
    font-size: var(--size-300);
    font-family: var(--ff-handlee);
    color: hsl(var(--alpha-shadow-color) / 0.5);
    top: -7rem;
    transform: perspective(75em) rotateX(18deg);
    z-index: -10;
  }

  .primary-footer > p {
    font-size: clamp(0.725rem, 2vw + 0.2rem, 1.5rem);
  }
}

@media screen and (min-width: 32em) {
  a {
    color: var(--highlight-color-link);
  }

  .primary-header {
    min-height: 8rem;
    flex-direction: row-reverse;
  }

  .primary-header > nav {
    width: 100%;
  }

  .primary-header > h1 {
    display: none;
  }

  .logo-container {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  .logo {
    padding: 0;
    width: 6rem;
    height: 6rem;
    margin: 0;
  }

  .primary-navigation {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: var(--fs-600);
    padding-left: 8rem;
  }

  .primary-navigation > li > a {
    font-weight: var(--fw-600);
    letter-spacing: 2px;
  }

  .underlined-indicators > * {
    --underlined-gap: 0.3rem;
  }

  .image-animation__container {
    min-height: 32vh;
  }

  .image-animation__container div:nth-child(1) {
    transform: translate(-60%, -90%) rotate(-150deg) scale(0);
  }

  .image-animation__container div:nth-child(2) {
    transform: translate(-60%, -90%) rotate(150deg) scale(0);
  }

  .image-animation__container div:nth-child(3) {
    transform: translate(-60%, -90%) rotate(150deg) scale(0);
  }

  .image-animation__container div:nth-child(4) {
    transform: translate(-60%, -90%) rotate(-125deg) scale(0);
  }

  .social-media__container img {
    width: 2.5rem;
    height: 2.5rem;
    background-color: hsl(var(--alpha-highlight-color) / 0.6);
    flex-wrap: wrap;
    padding: 0.2rem;
  }

  .social-media__container > * {
    margin: 0 0.5rem;
  }

  .primary-footer::before {
    content: "<script  src='main.js' type='module'>import {class Particle} from trailEffect.js</script>";
    position: absolute;
    width: 100%;
    top: -7.5rem;
    font-size: var(--size-300);
    font-family: var(--ff-handlee);
    color: hsl(var(--alpha-shadow-color) / 0.5);
    transform: perspective(75em) rotateX(18deg);
    z-index: -10;
  }
}

.social-media__container {
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
}

.social-media__container > * {
  transition: transform 0.5s ease-in-out;
}

.social-media__container > *:hover {
  transform: scale(1.2);
  background-color: hsl(var(--alpha-shadow-color) / 0.9);
  border-radius: 1vmin;
}

.social-media__container > *:focus {
  transform: scale(1.1);
}

.social-media__container img {
  border-radius: 1vmin;
}

footer {
  position: relative;
  width: 100%;
  min-height: 3rem;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
  box-shadow: 0 0 1rem 0.5rem hsl(var(--alpha-highlight-color) / 0.2);
}

.footer-navigation > li:hover a {
  color: var(--highlight-color-link);
}

@media screen and (min-width: 64em) {
  .primary-header > h1 {
    display: block;
    font-size: clamp(1rem, 5vw, 2rem);
    font-weight: var(--fw-600);
    margin: 0;
    padding-right: 1rem;
    color: hsl(var(--alpha-highlight-color) / 0.3);
  }

  .image-animation__container {
    min-height: 40vh;
    max-width: 35vw;
  }

  .image-animation__container::after {
    content: "@keyframes animate profile-image { 100% { transform: translate(....) } }";
    position: absolute;
    top: -25%;
    left: 5%;
    font-size: var(--size-300);
    font-family: var(--ff-handlee);
    color: hsl(var(--alpha-shadow-color) / 0.6);
  }

  .image-animation__container div:nth-child(1) {
    transform: translate(-43%, -120%) rotate(-150deg) scale(0);
  }

  .image-animation__container div:nth-child(2) {
    transform: translate(-43%, -120%) rotate(150deg) scale(0);
  }

  .image-animation__container div:nth-child(3) {
    transform: translate(-43%, -120%) rotate(150deg) scale(0);
  }

  .image-animation__container div:nth-child(4) {
    transform: translate(-43%, -120%) rotate(-125deg) scale(0);
  }

  .homepage-main {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  .social-media__container {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem 1rem;
    min-width: 6rem;
  }

  .footer-navigation {
    --gap-space: clamp(1.5rem, 5vw, 2.5rem);
  }

  .primary-footer::before {
    top: -4rem;
    right: -15%;
  }
}

/* 404 page */

.not-found__span {
  font-size: clamp(6rem, 15vw + 5rem, 20rem);
  color: hsl(var(--alpha-highlight-color) / 0.3);
  display: block;
  transform: rotateX(15deg);
}

.not-found__footer::before {
  content: "<script  src='main.js' type='module'>console.log(error)</script>";
}

@media screen and (min-width: 64em) {
  .not-found__social--media {
    flex-direction: row;
    padding: 0.5rem 1rem;
    min-width: 6rem;
  }

  .not-found__footer::before {
    top: -300%;
    right: 0;
  }
}

@media screen and (max-width: 64em) {
  .not-found__footer::before {
    top: -4rem;
    right: 0;
  }
}

/* Projects page */

.projects-figure {
  align-self: center;
  max-width: 60%;
  align-items: center;
  justify-content: center;
}

.projects-quote {
  align-self: center;
  text-align: justify;
}

.projects-quote > p::after {
  content: "\201D";
}

.projects-quote > p::before {
  content: "\201C";
}

figcaption:has(.projects-quote__cite) {
  align-self: flex-end;
}

article {
  padding: 1rem;
}

.introduction__heading {
  font-size: clamp(1.5rem, 5vw + 1rem, 2.5rem);
  position: relative;
  width: fit-content;
  align-self: center;
  text-decoration: double underline;
  color: var(--main-background-color);
  text-shadow: var(--highlight-color) 0 0 0.3rem;
  letter-spacing: 0.2rem;
}

.introduction__heading::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: animate-name 2s linear forwards;
  animation-delay: 1s;
}

.project-title {
  font-size: var(--fs-600);
  font-weight: var(--fw-700);
}

.projects-heading__letter {
  position: absolute;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.projects-heading__letter:hover {
  color: var(--secondary-light-color);
  animation: bounce 0.5s ease-in-out;
}

h4 {
  position: relative;
  width: fit-content;
  align-self: center;
}

h4::before {
  content: "<a target: >";
  position: absolute;
  top: -80%;
  left: -35%;
  font-size: var(--size-300);
  font-family: var(--ff-handlee);
  color: hsl(var(--alpha-shadow-color) / 0.6);
  transform: perspective(75em) rotateX(25deg);
  text-transform: lowercase;
}

h4::after {
  content: "</a>";
  position: absolute;
  bottom: -70%;
  right: -20%;
  font-size: var(--size-300);
  font-family: var(--ff-handlee);
  color: hsl(var(--alpha-shadow-color) / 0.6);
  transform: perspective(75em) rotateX(25deg);
  text-transform: lowercase;
}

.project-description {
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  text-align: justify;
  text-indent: 1rem;
}

article a {
  position: relative;
  width: fit-content;
  align-self: center;
}

article a:hover {
  color: var(--highlight-color-link-hover);
}

article > a::before {
  content: "<a href: >";
  position: absolute;
  top: -80%;
  left: -45%;
  font-size: var(--size-300);
  font-family: var(--ff-handlee);
  color: hsl(var(--alpha-shadow-color) / 0.6);
  transform: perspective(75em) rotateX(25deg);
  text-transform: lowercase;
}

article > a::after {
  content: "</a>";
  position: absolute;
  bottom: -90%;
  right: -35%;
  font-size: var(--size-300);
  font-family: var(--ff-handlee);
  color: hsl(var(--alpha-shadow-color) / 0.6);
  transform: perspective(75em) rotateX(25deg);
  text-transform: lowercase;
}

.banner-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2vmin;
  transform: perspective(75em) rotateX(10deg);
  transition: transform 0.5s ease-in-out;
}

.banner-container img {
  width: 100%;
  max-height: 15rem;
  object-fit: cover;
  object-position: top;
  border-radius: 2vmin;
  box-shadow: hsl(var(--alpha-highlight-color) / 0.2) 0 4em 9em -1.5em,
    hsl(var(--alpha-shadow-color) / 0.5) 0 2em 4em -2em;
  transition: object-position 3s ease-in-out;
}

.banner-container:hover {
  transform: perspective(75em) rotateX(0deg);
}

.banner-container:hover img {
  object-position: center;
}

@media screen and (min-width: 32em) {
  .projects-btn {
    max-width: 15rem;
  }

  .banner-container {
    max-width: 85%;
    align-self: center;
  }

  .projects-section {
    padding: clamp(1rem, 3vw + 1rem, 2.5rem);
  }

  .footer-navigation > li:hover a {
    color: var(--highlight-color-link-hover);
  }
}

@media screen and (min-width: 64em) {
  .projects-main {
    flex-direction: column;
    padding: 2rem;
  }

  .projects-main__header {
    width: 100%;
  }

  .projects-figure {
    max-width: 100%;
  }

  .banner-container {
    max-width: 80%;
    height: 40vh;
    align-self: center;
  }

  .banner-container img {
    max-height: 100%;
  }

  .projects-section {
    padding: 2rem;
  }

  .articles-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    --gap-space: 2rem;
    --flow-space: 0;
    padding: 1rem;
    margin-top: 2rem;
  }

  .articles-section__item {
    justify-content: space-between;
  }

  .contact-section__projects {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.projects-footer::before {
  top: -2rem;
  right: 0;
}

.articles-section__item {
  box-shadow: hsl(var(--alpha-shadow-color) / 0.2) 0 2em 4em -2em;
  border-radius: 1vmin;
}

/*  Project page */

h3 > a {
  font-size: var(--fs-600);
  font-weight: var(--fw-600);
}

h3 > a::before {
  content: "<a href='...'>";
  position: absolute;
  top: -100%;
  left: -45%;
  font-size: var(--size-300);
  font-family: var(--ff-handlee);
  color: hsl(var(--alpha-shadow-color) / 0.6);
  transform: perspective(75em) rotateX(25deg);
  text-transform: lowercase;
}

h3 > a::after {
  content: "</a>";
  position: absolute;
  bottom: -100%;
  right: -30%;
  font-size: var(--size-300);
  font-family: var(--ff-handlee);
  color: hsl(var(--alpha-shadow-color) / 0.6);
  transform: perspective(75em) rotateX(25deg);
  text-transform: lowercase;
}

.project-footer::before {
  top: -1.5rem;
}

@media screen and (min-width: 32em) {
  .project-description {
    max-width: 80%;
  }

  .project-description:nth-child(even) {
    align-self: flex-end;
  }
}

@media (min-width: 32em) and (max-width: 64em) {
  .project-page__section {
    padding: 2rem;
    max-width: 70ch;
  }
  .project-description__container {
    padding: 1rem;
  }
}

@media screen and (min-width: 64em) {
  .project-page__section {
    padding: 2rem;
  }

  .project-description__container {
    --gap-space: 2rem;
    padding: 1rem;
  }

  .project-description__container > * {
    margin-top: 0;
    padding: 1rem;
  }

  .project-footer::before {
    right: 0;
  }
}

.project-description__container > p {
  box-shadow: hsl(var(--alpha-shadow-color) / 0.2) 0 2em 4em -2em;
  border-radius: 1vmin;
}

/* About page */

.introduction-heading__about {
  font-size: var(--fs-intro);
}

.intro-text__about {
  box-shadow: hsl(var(--alpha-shadow-color) / 0.2) 0 2em 4em -2em;
  padding: 0.5rem;
}

.about-figure {
  max-width: 50%;
  align-self: center;
}

.intro-name__about {
  display: block;
  width: fit-content;
  align-self: center;
}

.about-content {
  padding: 1rem;
  grid-column: 1 / 3;
  display: flex;
  text-align: justify;
  text-indent: 2rem;
}

.main-contact__form {
  width: 100%;
  display: flex;
  justify-content: center;
  grid-column: 1 / 3;
}

.main-contact__form > button {
  margin: 0.5rem 0;
  max-width: 15rem;
}

@media screen and (min-width: 32em) {
  .about-content > * {
    max-width: 80%;
  }

  .about-content > *:nth-child(odd) {
    align-self: flex-end;
  }
}

@media screen and (min-width: 64em) {
  .about-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-inline-end: 2rem;
  }

  .about-main__header {
    width: 100%;
    grid-column-end: 3;
  }

  .about-figure {
    width: 100%;
  }

  .about-image__animation--container {
    height: 80%;
  }

  .about-image__animation--container::after {
    content: "clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);";
    position: absolute;
    top: -25%;
    left: 5%;
    font-size: var(--size-300);
    font-family: var(--ff-handlee);
    color: hsl(var(--alpha-shadow-color) / 0.6);
  }
}

.about-footer::before {
  top: -2rem;
  right: 0;
}

.tech-list {
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
}

.tech-list::before {
  content: "<ul>";
  position: absolute;
  top: -20%;
  left: 0%;
  font-size: var(--size-300);
  font-family: var(--ff-handlee);
  color: hsl(var(--alpha-shadow-color) / 0.6);
}

.tech-list::after {
  content: "</ul>";
  position: absolute;
  bottom: -20%;
  right: 0%;
  font-size: var(--size-300);
  font-family: var(--ff-handlee);
  color: hsl(var(--alpha-shadow-color) / 0.6);
}

.reveal:nth-child(odd) {
  position: relative;
  transform: translateX(-100%);
  opacity: 0;
}

.reveal:nth-child(even) {
  position: relative;
  transform: translateX(100%);
  opacity: 0;
}

.reveal.active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

/* About image container animation */

.about-image__animation--container {
  position: relative;
  width: 90%;
  min-height: 30vh;
  align-self: center;
  justify-self: center;
  box-shadow: hsl(var(--alpha-highlight-color) / 0.2) 0 4em 9em -1.5em,
    hsl(var(--alpha-shadow-color) / 0.5) 0 2em 4em -2em;
  border-radius: 3rem;
  transform: perspective(75em) rotateX(18deg);
  border: 1px solid;
  border-color: hsl(var(--alpha-highlight-color) / 0.1)
    hsl(var(--alpha-highlight-color) / 0.2)
    hsl(var(--alpha-highlight-color) / 0.3)
    hsl(var(--alpha-highlight-color) / 0.4);
  transition: all 0.5s ease-in-out;
}

.about-image__animation--container:hover {
  transform: perspective(75em) rotateX(0deg);
}

.about-image__animation--container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsl(var(--alpha-highlight-color) / 0.2);
  z-index: 10;
  border-radius: 3rem;
}

.about-image__animation--container div {
  position: absolute;
  inset: 0;
  background: url(./assets/images/calin.codes-about-page-image.jpg);
  background-size: cover;
  background-position: center;
}

.about-image__animation--container div:nth-child(1) {
  clip-path: polygon(50% 0, 0 0, 0 50%);
  transform: translate(-30%, -90%) rotate(-150deg) scale(0);
  transform: translate(-30%, -90%) rotate(-150deg) scale(0);
  overflow: hidden;
  animation: animate-about 8s ease-in-out forwards;
  animation-delay: var(--loading-timer);
  border-radius: 3rem;
}

.about-image__animation--container div:nth-child(2) {
  clip-path: polygon(50% 0, 50% 50%, 0 50%);
  transform: translate(-10%, -90%) rotate(150deg) scale(0);
  overflow: hidden;
  animation: animate-about 7s ease-in-out forwards;
  animation-delay: calc(var(--loading-timer) + 2s);
}

.about-image__animation--container div:nth-child(3) {
  clip-path: polygon(50% 0, 50% 50%, 100% 50%);
  transform: translate(10%, -90%) rotate(150deg) scale(0);
  overflow: hidden;
  animation: animate-about 6s ease-in-out forwards;
  animation-delay: calc(var(--loading-timer) + 3.5s);
}

.about-image__animation--container div:nth-child(4) {
  clip-path: polygon(50% 0, 100% 0, 100% 50%);
  transform: translate(30%, -90%) rotate(-125deg) scale(0);
  overflow: hidden;
  animation: animate-about 5s ease-in-out forwards;
  animation-delay: calc(var(--loading-timer) + 5s);
  border-radius: 3rem;
}

.about-image__animation--container div:nth-child(5) {
  clip-path: polygon(50% 100%, 100% 100%, 100% 50%);
  transform: translate(-30%, -90%) rotate(-150deg) scale(0);
  overflow: hidden;
  animation: animate-about 7s ease-in-out forwards;
  animation-delay: var(--loading-timer);
  border-radius: 3rem;
}

.about-image__animation--container div:nth-child(6) {
  clip-path: polygon(50% 100%, 50% 50%, 100% 50%);
  transform: translate(-10%, -90%) rotate(150deg) scale(0);
  overflow: hidden;
  animation: animate-about 6s ease-in-out forwards;
  animation-delay: calc(var(--loading-timer) + 2s);
}

.about-image__animation--container div:nth-child(7) {
  clip-path: polygon(50% 100%, 50% 50%, 0 50%);
  transform: translate(10%, -90%) rotate(150deg) scale(0);
  overflow: hidden;
  animation: animate-about 5s ease-in-out forwards;
  animation-delay: calc(var(--loading-timer) + 3.5s);
  border-radius: 3rem;
}

.about-image__animation--container div:nth-child(8) {
  clip-path: polygon(50% 100%, 0 100%, 0 50%);
  transform: translate(30%, -90%) rotate(-125deg) scale(0);
  overflow: hidden;
  animation: animate-about 1.5s ease-in-out forwards;
  animation-delay: calc(var(--loading-timer) + 5s);
  border-radius: 3rem;
}

@keyframes animate-about {
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

/* -------------------------------------------------- */

/* Contact */

input {
  border: 1px solid hsl(var(--alpha-highlight-color) / 0.2);
  border-bottom: 2px solid hsl(var(--alpha-shadow-color) / 0.2);
  border-radius: 1.5vmin;
  padding: 0.5rem 1rem;
  box-shadow: hsl(var(--alpha-shadow-color) / 0.2) 0 2em 4em -2em;
  font-size: var(--fs-500);
  background-color: transparent;
  width: 100%;
  margin-bottom: 0.2rem;
  transition: all 0.5s ease-in-out;
}

input:hover {
  border-bottom: 2px solid var(--secondary-light-color);
}

input:focus {
  border-bottom: 2px solid var(--secondary-light-color);
  outline: none;
}

textarea {
  border: 1px solid hsl(var(--alpha-highlight-color) / 0.2);
  border-bottom: 2px solid hsl(var(--alpha-shadow-color) / 0.5);
  box-shadow: hsl(var(--alpha-shadow-color) / 0.2) 0 2em 4em -2em;
  border-radius: 1.5vmin;
  background-color: transparent;
  padding: 0.5rem 1rem;
  resize: none;
  font-size: var(--fs-500);
  width: 100%;
  margin-bottom: 0.2rem;
  transition: all 0.5s ease-in-out;
}

textarea::-webkit-scrollbar {
  width: 0.3rem;
}

textarea::-webkit-scrollbar-track {
  background: hsl(var(--alpha-highlight-color) / 0.3);
}

textarea::-webkit-scrollbar-thumb {
  background: hsl(var(--alpha-highlight-color) / 0.4);
}

textarea::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--alpha-highlight-color) / 0.6);
}

textarea:hover {
  border-bottom: 2px solid var(--secondary-light-color);
}

textarea:focus {
  border-bottom: 2px solid var(--secondary-light-color);
  outline: none;
}

form {
  box-shadow: hsl(var(--alpha-shadow-color) / 0.2) 0 2em 4em -2em;
  border-radius: 1vmin;
}

@media screen and (min-width: 64em) {
  .contact-image__container {
    height: 45vh;
  }

  .contact-image__container::after {
    content: "import profileImg from'./assets/images/calin.codes-profile-image-mobile.jpg';";
    position: absolute;
    top: -40%;
    left: 5%;
    font-size: var(--size-300);
    font-family: var(--ff-handlee);
    color: hsl(var(--alpha-shadow-color) / 0.6);
  }

  .contact-footer::before {
    top: -2.5rem;
    right: -23%;
  }
}

/* Contact image container animation */

.contact-image__container {
  position: relative;
  width: 90%;
  min-height: 30vh;
  align-self: center;
  justify-self: center;
  box-shadow: hsl(var(--alpha-highlight-color) / 0.2) 0 4em 9em -1.5em,
    hsl(var(--alpha-shadow-color) / 0.5) 0 2em 4em -2em;
  border-radius: 3rem;
  transform: perspective(75em) rotateX(18deg);
  border: 1px solid;
  border-color: hsl(var(--alpha-highlight-color) / 0.1)
    hsl(var(--alpha-highlight-color) / 0.2)
    hsl(var(--alpha-highlight-color) / 0.3)
    hsl(var(--alpha-highlight-color) / 0.4);
  transition: all 0.5s ease-in-out;
}

.contact-image__container:hover {
  transform: perspective(75em) rotateX(0deg);
}

.contact-image__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsl(var(--alpha-highlight-color) / 0.2);
  z-index: 10;
  border-radius: 3rem;
}

.contact-image__container div {
  position: absolute;
  inset: 0;
  background: url(./assets/images/calin.codes-contact-page-image.jpg);
  background-size: cover;
  background-position: top;
}

.contact-image__container div:nth-child(1) {
  clip-path: polygon(0 0, 10% 0, 10% 100%, 0 100%);
  transform: translate(10%, 0%) rotateY(180deg) scale(0.5);
  overflow: hidden;
  animation: animate-contact 10s ease-in-out forwards;
  animation-delay: var(--loading-timer);
  border-radius: 3rem;
}

.contact-image__container div:nth-child(2) {
  clip-path: polygon(10% 0, 20% 0, 20% 100%, 10% 100%);
  transform: translate(15%, 0%) rotateY(180deg) scale(0.5);
  overflow: hidden;
  animation: animate-contact 9s ease-in-out forwards;
  animation-delay: calc(var(--loading-timer) + 1s);
  border-radius: 3rem;
}

.contact-image__container div:nth-child(3) {
  clip-path: polygon(20% 0, 30% 0, 30% 100%, 20% 100%);
  transform: translate(20%, 0%) rotateY(180deg) scale(0.5);
  overflow: hidden;
  animation: animate-contact 8s ease-in-out forwards;
  animation-delay: calc(var(--loading-timer) + 2s);
}

.contact-image__container div:nth-child(4) {
  clip-path: polygon(30% 0, 40% 0, 40% 100%, 30% 100%);
  transform: translate(25%, 0%) rotateY(180deg) scale(0.5);
  overflow: hidden;
  animation: animate-contact 7s ease-in-out forwards;
  animation-delay: calc(var(--loading-timer) + 3s);
  border-radius: 3rem;
}

.contact-image__container div:nth-child(5) {
  clip-path: polygon(40% 0, 50% 0, 50% 100%, 40% 100%);
  transform: translate(30%, 0%) rotateY(180deg) scale(0.5);
  overflow: hidden;
  animation: animate-contact 6s ease-in-out forwards;
  animation-delay: calc(var(--loading-timer) + 4s);
  border-radius: 3rem;
}

.contact-image__container div:nth-child(6) {
  clip-path: polygon(45% 0, 60% 0, 60% 100%, 50% 100%);
  transform: translate(35%, 0%) rotateY(180deg) scale(0.5);
  overflow: hidden;
  animation: animate-contact 5s ease-in-out forwards;
  animation-delay: calc(var(--loading-timer) + 5s);
}

.contact-image__container div:nth-child(7) {
  clip-path: polygon(60% 0, 70% 0, 70% 100%, 60% 100%);
  transform: translate(40%, 0%) rotateY(180deg) scale(0.5);
  overflow: hidden;
  animation: animate-contact 4s ease-in-out forwards;
  animation-delay: calc(var(--loading-timer) + 6s);
  border-radius: 3rem;
}

.contact-image__container div:nth-child(8) {
  clip-path: polygon(70% 0, 80% 0, 80% 100%, 70% 100%);
  transform: translate(45%, 0%) rotateY(180deg) scale(0.5);
  overflow: hidden;
  animation: animate-contact 3s ease-in-out forwards;
  animation-delay: calc(var(--loading-timer) + 7s);
  border-radius: 3rem;
}

.contact-image__container div:nth-child(9) {
  clip-path: polygon(80% 0, 90% 0, 90% 100%, 80% 100%);
  transform: translate(50%, 0%) rotateY(180deg) scale(0.5);
  overflow: hidden;
  animation: animate-contact 2s ease-in-out forwards;
  animation-delay: calc(var(--loading-timer) + 8s);
  border-radius: 3rem;
}

.contact-image__container div:nth-child(10) {
  clip-path: polygon(90% 0, 100% 0, 100% 100%, 90% 100%);
  transform: translate(55%, 0%) rotateY(180deg) scale(0.5);
  overflow: hidden;
  animation: animate-contact 1.5s ease-in-out forwards;
  animation-delay: calc(var(--loading-timer) + 8.5s);
  border-radius: 3rem;
}

@keyframes animate-contact {
  85% {
    transform: translate(0, 0) rotateY(90deg) scale(0.9);
  }

  100% {
    transform: rotateY(0deg) scale(1);
  }
}

/* -------------------------------------------------- */

.error {
  color: rgb(255, 0, 0);
  font-size: var(--size-300);
  margin: 0 auto;
}

@media screen and (min-width: 32em) {
  .error {
    font-size: var(--size-400);
  }
}

/* text animation  */

.contact-animation__container {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  margin-top: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-color: hsl(var(--alpha-highlight-color) / 0.1);
  backdrop-filter: blur(1rem);
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.contact-animation__container[data-visible="false"] {
  display: none;
}

.contact-animation__text {
  position: relative;
  color: hsl(var(--alpha-highlight-color) / 0);
  align-self: center;
  justify-self: center;
  overflow: hidden;
}

.contact-animation__text::before {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  color: var(--secondary-light-color);
  animation: animate 2.5s linear;
}
